@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* universal selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
  
    
}

/* navbar */
/* hero-section */
/* h1{
    float: left;
}
*/
.para {
    display: relative;
} 

#home-img {
    float: right;
    border: 5px solid black;
    margin-bottom: 500px;
}
