@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* universal selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */

.navbar{
    width: 1500px;
}

.navbar .container ul a{
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar .container ul a:hover{
    color: #ffffff;
    background-color:#FD6F00 ;
    border-radius: 5px;
}

.my-info{
    padding-top: 10%;;
}

.button-transaction{
    padding-top: 2%;
}

.button-transaction .button-send-money, .button-transaction .button-all-transaction{
    border: 2px solid #00000;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.button-transaction .button-send-money:hover, .button-transaction .button-all-transaction:hover{
    color: #ffffff;
    background-color:#FD6F00 ;
    border-radius: 5px;
    font-weight:600;
}


